
.Status-container {
  width: 100%;
  background: @--color-white;
  border-bottom: 1px solid @--color-white20;
  font-size: 13px;
  line-height: 23px;
}

.Status {
  .u-pullCenter();
  width: 100%;
  max-width: 480px;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}
