
.Grappler {
  background: url('/assets/grapplers.png');
  width: 8px;
  height: 16px;
  background-size: 160px 160px;
  image-rendering: pixelated;
  transform: scale(10);
  transform-origin: top left;
}
