
html, body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  display: flex;
  margin: 0;
  font-family: Coolville, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 10px;
  color: @--color-black20;
  background: @--color-white30;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.Container {
  .u-pullCenter();
  .u-cf();
  width: 100%;
  max-width: 480px;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
}
